@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  ::-webkit-scrollbar { 
    width: 6px; 
    height: 6px; 
  }
  ::-webkit-scrollbar-track { 
    background: #0f141a; 
  }
  ::-webkit-scrollbar-thumb { 
    background: #1c385f; 
    border-radius: 10px; 
  }
  ::-webkit-scrollbar-thumb:hover { 
    background: #00C853; 
  }
}
